/*
Modelo de caixa
*/
/*
.conteudo{
	border: 1px solid red;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;

	padding: 50px 30px 15px 5px;

	padding: 20px;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;

	margin: 50px 30px 15px 5px

	margin: 20px;

	width: 150px;
}
*/

#noticia{
	background: #f9f9f9;
	border: 1px solid gray;
	padding: 10px;
}